<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weathericon.png">
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    <div class="main-content">

        {{>header}}
        <h1>{{errorType}}</h1>
        <p>{{errorMessage}} {{name}}</p>
    </div>

    {{>footer}}
</body>



</html>